{% extends 'catalog/base.html' %}

{% block content %}
{% load my_tags %}
    <div class="row text-center">
        {% for object in product_list %}
            <div class="col-4">
                <div class="card mb-4 box-shadow">
                    <img src="{{ object.picture | media_filter }}">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ object.name_product }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ object.price }} руб.</h1>
                        <a href="{% url 'catalog:product' object.pk %}" type="button" class="btn btn-lg btn-block btn-outline-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}