{% extends 'catalog/base.html' %}

{% block content %}
{% load my_tags %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <img src="{{ product.picture | media_filter }}">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ product.name_product }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>- {{ product.description_product|slice:100 }}</li>
                </ul>
                <h4 class="card-title pricing-card-title">{{ product.price }} руб.</h4>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                <a href="{% url 'catalog:home'%}" type="button" class="btn btn-lg btn-block btn-outline-primary">Назад</a>
            </div>
        </div>
    </div>
{% endblock %}